{% extends 'base.html.twig' %}

{% block title %}Front - Virtual currency list{% endblock %}

{% block body %}
    <h1>Virtual Currencies (Front)</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Amount</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
        {% for virtualCurrency in virtualCurrencies %}
            <tr>
                <td>{{ virtualCurrency.id }}</td>
                <td>{{ virtualCurrency.type }}</td>
                <td>{{ virtualCurrency.amount }}</td>
                <td>{{ virtualCurrency.user ? virtualCurrency.user.username : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no virtual currencies found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
